<%- layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= err.stack %></p>
            <% } else { %>
                <h4 class="alert-heading">Error: <%= err.status %></h4>
                <p><%= err.message %></p>
            <% } %>
        </div>
    </div>
</div>